@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
    box-sizing: border-box;
}
  .card-wrapper {
    padding: 20px;
    width: 32%;
    display: inline-block;
  }
   .crew-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: white;
    }
    .crew-card img {
        width: 100%;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }
    .crew-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .crew-card .container {
        padding: 2px 16px;

    }
    .crew-card .title-text {
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 0px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .crew-card .name-text {
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 0;
        letter-spacing: 1.4;
    }
    .crew-card .seperate {
        text-align: center;
        margin-bottom: 0px;
    }
    @media screen and (max-width: 680px) {
        .card-wrapper {
            width: 48%;
        }
    }
    @media screen and (max-width: 460px) {
        .card-wrapper {
            width: 100%;
        }
    }
