@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
nav {
    margin-bottom: '1.45rem';
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 999;
}

nav.front-page {
    font-size: 1.7rem;
}

nav.interior {
    background-color: white;
    font-size: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav-items.mobile {
  display: block;
}
.nav-items.desk {
  display:none;
}
.dropdown {
  left: 0;
  width: 100%;
  margin-top: 15px;
  padding: 15px 25px 0px 10px;
  background-color: white;
  position: absolute;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:none;
}
.dropdown p {
  font-size: 1.7rem;
}
.dropdown.open {
  display:block;
}
.fa-bars.open {
  color:cornflowerblue;
}
.fa-bars:hover {
  cursor: pointer;
}

@media only screen and (min-width: 540px) {
    .nav-items.mobile {
      display: none;
    }
    .dropdown.open {
      display: none;
    }
    .nav-items.desk {
      display:block;
    }
}

.home-btn {
    margin-right: 10px;
}
.btn {
    margin-left: 10px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn.selected {
    color: red;
}
.arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('arrow.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: pulse 1s infinite;
    -webkit-animation: pulse 1s infinite;
    -moz-animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    margin-left: -5px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: -5px;
  }
}
@-webkit-keyframes pulse {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0px;
  }
}
@-moz-keyframes pulse {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0px;
  }
}
